.side-nav {
  position: fixed;
}
.side-nav__nav {
  position: relative;
  border-radius: 20px;
  border-right: 1px solid #1C89D1;
  padding: 20px;
}
.side-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}