@charset "UTF-8";
.main-block-wrapper {
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-block-wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1350px) {
  .main-block-wrapper {
    padding: 0 60px;
  }
}
@media (min-width: 1400px) {
  .main-block-wrapper {
    max-width: 1196px;
  }
}
@media (min-width: 1920px) {
  .main-block-wrapper {
    padding: 0 375px;
  }
}

.page__title {
  margin: 0 auto;
  display: block;
  color: #2D2D2D;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
@media (min-width: 768px) {
  .page__title {
    font-size: 36px;
    line-height: 41px;
  }
}

.blue-button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 110.4%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(91.18deg, #1C89D1 0.05%, #2FA0EB 99.98%);
  border-radius: 15px;
  width: 100%;
  padding: 20px 0;
  border: none;
  color: white;
}
.blue-button:hover {
  background: linear-gradient(91.18deg, #0F72B3 0.05%, #1D8BD3 99.98%);
}
.blue-button:active {
  background: linear-gradient(91.18deg, #0F659D 0.05%, #0373BD 99.98%);
}

.orange-button {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 110.4%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(91.01deg, #FF981E 0%, #FEB62A 100%);
  border-radius: 20px;
  width: 100%;
  padding: 20px 0;
  border: none;
  color: white;
}
.orange-button:hover {
  background: linear-gradient(91.01deg, #E08010 0%, #FFAF15 100%);
}
.orange-button:active {
  background: linear-gradient(91.01deg, #DA7805 0%, #DD9200 100%);
}

.promo {
  margin-top: 20px;
  margin-bottom: 75px;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
}
@media (min-width: 768px) {
  .promo {
    margin-bottom: 100px;
  }
}
@media (min-width: 1920px) {
  .promo {
    margin-bottom: 120px;
    margin-top: 0px;
  }
}
.promo__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.promo__image {
  margin: 20px 0;
  width: 100%;
}
@media (min-width: 768px) {
  .promo__image {
    width: 44.35%;
    margin: 0;
    margin-top: -40px;
  }
}
@media (min-width: 1920px) {
  .promo__image {
    margin-bottom: 0;
  }
}
@media (min-width: 1920px) {
  .promo__image {
    margin-left: 103px;
  }
}
.promo__text-wrapper {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .promo__text-wrapper {
    width: 55%;
    order: -1;
    margin-bottom: 50px;
  }
}
@media (min-width: 1000px) {
  .promo__text-wrapper {
    margin-bottom: auto;
  }
}
@media (min-width: 1920px) {
  .promo__text-wrapper {
    width: 40.34%;
    margin-bottom: auto;
    margin-top: 20px;
  }
}
@media (min-width: 2150px) {
  .promo__text-wrapper {
    margin-top: 40px;
  }
}
.promo__title {
  color: #000000;
  font-weight: 500;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
}
@media (min-width: 768px) {
  .promo__title {
    margin-top: 10px;
    font-size: 16px;
  }
}
@media (min-width: 1000px) {
  .promo__title {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1919.5px) {
  .promo__title {
    margin-top: 40px;
    font-size: 17px;
  }
}
@media (min-width: 1920px) {
  .promo__title {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
@media (min-width: 2260px) {
  .promo__title {
    font-size: 20px;
    margin-bottom: 30px;
  }
}
.promo__advantages-list {
  color: #2D2D2D;
  list-style-type: none;
  padding: 0;
}
@media (min-width: 600px) {
  .promo__advantages-list {
    font-size: 16px;
  }
}
@media (min-width: 1228px) and (max-width: 1920px) {
  .promo__advantages-list {
    font-size: 17px;
  }
}
@media (min-width: 1000px) {
  .promo__advantages-list {
    margin-bottom: 4%;
  }
}
@media (min-width: 1228px) and (max-width: 1920px) {
  .promo__advantages-list {
    font-size: 19px;
  }
}
.promo__advantages-list__item {
  padding-left: 17px;
  margin-bottom: 15px;
  position: relative;
}
.promo__advantages-list__item:before {
  display: block;
  position: absolute;
  left: 0px;
  top: 6px;
  content: "";
  width: 7px;
  height: 7px;
  background: #0071BC;
  border-radius: 50%;
}
.promo__advantages-list__item:last-child {
  margin-bottom: none;
}
@media (min-width: 1000px) {
  .promo__advantages-list__item {
    margin-bottom: 3%;
  }
}
@media (min-width: 1920px) {
  .promo__advantages-list__item {
    margin-bottom: 15px;
    font-size: 18px;
  }
}
.promo__down-bar {
  width: 100%;
}
@media (min-width: 768px) {
  .promo__down-bar {
    display: flex;
    width: 68.92%;
  }
}
@media (min-width: 1440px) and (max-width: 1919.5px) {
  .promo__down-bar {
    margin-top: -40px;
  }
}
@media (min-width: 1920px) {
  .promo__down-bar {
    width: 41.7%;
    margin-top: -30px;
  }
}
.promo__price-block {
  margin-left: 7%;
  margin-bottom: 10px;
}
@media (min-width: 600px) {
  .promo__price-block {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .promo__price-block {
    min-width: 160px;
    margin-bottom: 0;
  }
}
.promo__price-block__discount {
  color: #838383;
  font-size: 16px;
  line-height: 110.4%;
  text-decoration-line: line-through;
  margin-bottom: 0;
}
.promo__price-block__price {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #2D2D2D;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .promo__price-block__price {
    font-size: 25px;
    line-height: 30px;
  }
}
.promo .blue-button {
  padding: 15px 0;
}
@media (min-width: 768px) {
  .promo .blue-button {
    width: 64.78%;
    padding: 20px 0;
    order: -1;
  }
}

.advantages {
  margin-bottom: 80px;
}
@media (max-width: 767.5px) {
  .advantages__wrapper {
    padding: 0;
  }
}
.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.advantages__list__item {
  background: #FFFFFF;
  width: 100%;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* Основная тень */
  box-shadow: -12.2082px 12.2082px 24.4164px rgba(230, 230, 230, 0.2), 12.2082px -12.2082px 24.4164px rgba(230, 230, 230, 0.2), 12.2082px 12.2082px 30.9274px rgba(230, 230, 230, 0.9);
  border-radius: 20px;
}
.advantages__list__item:last-child {
  margin-bottom: 0;
}
.advantages__list__item__image {
  margin-right: 15px;
}
.advantages__list__item__description {
  color: #2D2D2D;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  margin: 0;
}
@media (min-width: 768px) {
  .advantages {
    margin-bottom: 100px;
  }
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .advantages__list__item {
    width: 47.88%;
    padding: 33px 15px;
    margin-bottom: 20px;
  }
  .advantages__list__item:last-child {
    margin-bottom: 0;
  }
  .advantages__list__item__image {
    width: 77px;
    height: 77px;
  }
  .advantages__list__item__desctiption {
    font-size: 16px;
    line-height: 130%;
  }
}

.side-nav {
  display: none;
  position: fixed;
  top: 274px;
  left: 85px;
}
@media (min-width: 1920px) {
  .side-nav {
    display: block;
  }
}
.side-nav__nav {
  position: relative;
  border-radius: 20px;
  border-right: 1px solid #1C89D1;
  padding: 20px;
}
.side-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.side-nav__list__item {
  margin-bottom: 20px;
  margin-left: auto;
  width: fit-content;
}
.side-nav__list__item-link {
  color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
.side-nav__list__item:last-child {
  margin-bottom: 0;
}
.side-nav__list__item--active {
  color: #0071BC;
  border-bottom: 1px solid #0071BC;
}
.side-nav__list__item--active .side-nav__list__item-link:hover {
  color: #0071BC;
}
.side-nav__list__item--message .side-nav__list__item-link {
  border: 1px solid #0071BC;
  color: #0071BC;
  padding: 10px;
  border-radius: 5px;
}
.side-nav__list__item--message .side-nav__list__item-link:hover {
  color: #FF6871;
}
.side-nav__list__item--message .side-nav__list__item-link:active {
  color: #0071BC;
}
/*# sourceMappingURL=maps/style.css.map */
