@charset "UTF-8";
.main-block-wrapper {
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-block-wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1350px) {
  .main-block-wrapper {
    padding: 0 60px;
  }
}
@media (min-width: 1400px) {
  .main-block-wrapper {
    max-width: 1196px;
  }
}
@media (min-width: 1920px) {
  .main-block-wrapper {
    padding: 0 375px;
  }
}

.page__title {
  margin: 0 auto;
  display: block;
  color: #2D2D2D;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}
@media (min-width: 768px) {
  .page__title {
    font-size: 36px;
    line-height: 41px;
  }
}

.promo {
  margin-top: 20px;
  margin-bottom: 75px;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
}
@media (min-width: 768px) {
  .promo {
    margin-bottom: 100px;
  }
}
@media (min-width: 1920px) {
  .promo {
    margin-bottom: 120px;
    margin-top: 0px;
  }
}
.promo__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.promo__image {
  margin: 20px 0;
  width: 100%;
}
@media (min-width: 768px) {
  .promo__image {
    width: 44.35%;
    margin: 0;
  }
}
.promo__text-wrapper {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .promo__text-wrapper {
    width: 55%;
    order: -1;
    margin-bottom: 50px;
  }
}
@media (min-width: 1000px) {
  .promo__text-wrapper {
    margin-bottom: auto;
  }
}
@media (min-width: 1920px) {
  .promo__text-wrapper {
    width: 40.34%;
    margin-top: 20px;
  }
}
.promo__big-title {
  width: 100%;
  display: none;
}
@media (min-width: 768px) {
  .promo__big-title {
    display: block;
    margin-bottom: 30px;
  }
}
.promo__big-title--mobile {
  display: none;
}
@media (max-width: 767.5px) {
  .promo__big-title--mobile {
    display: block;
  }
}
.promo__sub-title {
  color: #000000;
  font-weight: 500;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
}
@media (min-width: 768px) {
  .promo__sub-title {
    font-size: 16px;
  }
}
@media (min-width: 1000px) {
  .promo__sub-title {
    margin-bottom: 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1919.5px) {
  .promo__sub-title {
    margin-top: 40px;
    font-size: 17px;
  }
}
@media (min-width: 1920px) {
  .promo__sub-title {
    font-size: 18px;
    margin-bottom: 20px;
  }
}
.promo__advantages-list {
  color: #2D2D2D;
  list-style-type: none;
  padding: 0;
}
@media (min-width: 600px) {
  .promo__advantages-list {
    font-size: 16px;
  }
}
@media (min-width: 1228px) and (max-width: 1920px) {
  .promo__advantages-list {
    font-size: 17px;
  }
}
@media (min-width: 1000px) {
  .promo__advantages-list {
    margin-bottom: 4%;
  }
}
@media (min-width: 1228px) and (max-width: 1920px) {
  .promo__advantages-list {
    font-size: 19px;
  }
}
.promo__advantages-list__item {
  padding-left: 17px;
  margin-bottom: 15px;
  position: relative;
}
.promo__advantages-list__item:before {
  display: block;
  position: absolute;
  left: 0px;
  top: 6px;
  content: "";
  width: 7px;
  height: 7px;
  background: #0071BC;
  border-radius: 50%;
}
.promo__advantages-list__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 1000px) {
  .promo__advantages-list__item {
    margin-bottom: 3%;
  }
}
@media (min-width: 1920px) {
  .promo__advantages-list__item {
    margin-bottom: 15px;
    font-size: 18px;
  }
}
.promo__down-bar {
  width: 100%;
}
@media (min-width: 768px) {
  .promo__down-bar {
    display: flex;
    width: 68.92%;
  }
}
@media (min-width: 1920px) {
  .promo__down-bar {
    width: 41.7%;
    margin-top: 0;
  }
}
.promo__price-block {
  margin-left: 7%;
  margin-bottom: 10px;
}
@media (min-width: 600px) {
  .promo__price-block {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .promo__price-block {
    min-width: 160px;
    margin-bottom: 0;
  }
}
.promo__price-block__discount {
  color: #838383;
  font-size: 16px;
  line-height: 110.4%;
  text-decoration-line: line-through;
  margin-bottom: 0;
}
.promo__price-block__price {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #2D2D2D;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .promo__price-block__price {
    font-size: 25px;
    line-height: 30px;
  }
}
.promo__button {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 110.4%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(91.18deg, #1C89D1 0.05%, #2FA0EB 99.98%);
  border-radius: 15px;
  width: 100%;
  padding: 20px 0;
  border: none;
  color: white;
  padding: 15px 0;
}
.promo__button:hover {
  background: linear-gradient(91.18deg, #0F72B3 0.05%, #1D8BD3 99.98%);
  color: white;
}
.promo__button:active {
  background: linear-gradient(91.18deg, #0F659D 0.05%, #0373BD 99.98%);
  color: white;
}
@media (min-width: 768px) {
  .promo__button {
    width: 64.78%;
    padding: 20px 0;
    order: -1;
  }
}
.promo--invert {
  background: linear-gradient(97.92deg, #1F3050 0%, #14326B 100%);
}
.promo--invert .promo__advantages-list__item {
  position: relative;
  padding-left: 34px;
  color: #FFFFFF;
}
.promo--invert .promo__advantages-list__item::before {
  display: block;
  position: absolute;
  left: 0px;
  top: 6px;
  content: "";
  width: 19.09px;
  height: 18px;
  background: transparent;
  background-image: url("../../images/icons/empty-tick-white.svg") !important;
  background-size: 19.09px 18px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .promo--invert .promo__advantages-list__item {
    padding-left: 39px;
    position: relative;
  }
  .promo--invert .promo__advantages-list__item::before {
    display: block;
    position: absolute;
    left: 6px;
    top: 0px;
    content: "";
    width: 24.09px;
    height: 23px;
    background: transparent;
    background-size: 24.09px 23px;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1024px) {
  .promo--invert .promo__advantages-list__item {
    padding-left: 44px;
  }
  .promo--invert .promo__advantages-list__item::before {
    display: block;
    position: absolute;
    left: 0px;
    top: -3px;
    content: "";
    width: 29.09px;
    height: 28px;
    background: transparent;
    background-size: 29.09px 28px;
    background-repeat: no-repeat;
  }
}
.promo--invert .promo__big-title {
  color: #FFFFFF;
}
.promo--invert .promo__big-title--mobile {
  color: #FFFFFF;
  margin-bottom: 30px;
}
.promo--invert .promo__image {
  display: none;
}
@media (min-width: 1920px) {
  .promo--invert .promo__image {
    display: block;
  }
}
.promo--invert .promo__sub-title {
  color: #FFFFFF;
}
.promo--invert .promo__image {
  margin-left: auto !important;
}
.promo--invert .promo__wrapper {
  padding-top: 30px;
  padding-bottom: 83px;
}
@media (min-width: 768px) {
  .promo--invert .promo__wrapper {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}
@media (min-width: 1920px) {
  .promo--invert .promo__wrapper {
    padding-top: 50px;
    padding-bottom: 70px;
  }
}
.promo--invert .promo__price-block__price {
  color: #FFFFFF;
}
.promo--invert .promo__button {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 110.4%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(91.01deg, #FF981E 0%, #FEB62A 100%);
  border-radius: 15px;
  width: 100%;
  padding: 20px 0;
  border: none;
  color: white;
  padding: 15px 0;
}
.promo--invert .promo__button:hover {
  background: linear-gradient(91.01deg, #E08010 0%, #FFAF15 100%);
  color: white;
}
.promo--invert .promo__button:active {
  background: linear-gradient(91.01deg, #DA7805 0%, #DD9200 100%);
  color: white;
}
@media (min-width: 768px) {
  .promo--invert .promo__button {
    padding: 20px 0;
  }
}
@media (min-width: 768px) {
  .promo--invert .promo__advantages-list {
    margin-bottom: 40px;
  }
}
@media (min-width: 1024px) {
  .promo--invert .promo__advantages-list {
    margin-bottom: 40px;
  }
}
.promo--invert .promo__down-bar {
  margin-top: 0;
}
@media (min-width: 1920px) {
  .promo--invert .promo {
    padding-top: 20px;
  }
  .promo--invert .promo__text-wrapper {
    margin-bottom: 0;
    padding-bottom: 8.4%;
  }
  .promo--invert .promo__wrapper {
    padding-top: 20px;
  }
  .promo--invert .promo__image {
    margin-top: -44px;
    margin-left: 84px !important;
    width: 50%;
  }
  .promo--invert .promo__advantages-list {
    margin-bottom: 0px;
  }
  .promo--invert .promo__down-bar {
    margin-top: -8.4%;
  }
}

.advantages {
  margin-bottom: 80px;
}
@media (max-width: 767.5px) {
  .advantages__wrapper {
    padding: 0;
  }
}
.advantages__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.advantages__list__item {
  background: #FFFFFF;
  width: 100%;
  padding: 20px 15px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  /* Основная тень */
  box-shadow: -12.2082px 12.2082px 24.4164px rgba(230, 230, 230, 0.2), 12.2082px -12.2082px 24.4164px rgba(230, 230, 230, 0.2), 12.2082px 12.2082px 30.9274px rgba(230, 230, 230, 0.9);
  border-radius: 20px;
}
.advantages__list__item:last-child {
  margin-bottom: 0;
}
.advantages__list__item__image {
  margin-right: 15px;
}
.advantages__list__item__description {
  color: #2D2D2D;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  margin: 0;
}
@media (min-width: 768px) {
  .advantages {
    margin-bottom: 100px;
  }
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .advantages__list__item {
    width: 47.88%;
    padding: 33px 15px;
    margin-bottom: 20px;
  }
  .advantages__list__item:last-child {
    margin-bottom: 0;
    margin: 0 auto;
  }
  .advantages__list__item__image {
    width: 77px;
    height: 77px;
  }
  .advantages__list__item__desctiption {
    font-size: 16px;
    line-height: 130%;
  }
}
@media (min-width: 1920px) {
  .advantages {
    margin-bottom: 120px;
  }
  .advantages__list__item {
    padding: 55px 20px 55px 10px;
    width: 31.62%;
  }
  .advantages__list__item:last-child {
    margin: 0;
  }
}

.side-nav {
  display: none;
  position: fixed;
  top: 288px;
  left: 85px;
}
.side-nav--invert {
  filter: invert(1);
}
@media (min-width: 1920px) {
  .side-nav {
    display: block;
  }
}
.side-nav__nav {
  position: relative;
  border-radius: 20px;
  border-right: 1px solid #1C89D1;
  padding: 20px;
}
.side-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.side-nav__list__item {
  margin-bottom: 20px;
  margin-left: auto;
  width: fit-content;
}
.side-nav__list__item-link {
  color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}
.side-nav__list__item:last-child {
  margin-bottom: 0;
}
.side-nav__list__item--active {
  color: #0071BC;
  border-bottom: 1px solid #0071BC;
}
.side-nav__list__item--active .side-nav__list__item-link:hover {
  color: #0071BC;
}
.side-nav__list__item--message .side-nav__list__item-link {
  border: 1px solid #0071BC;
  color: #0071BC;
  padding: 10px;
  border-radius: 5px;
}
.side-nav__list__item--message .side-nav__list__item-link:hover {
  color: #FF6871;
}
.side-nav__list__item--message .side-nav__list__item-link:active {
  color: #0071BC;
}
.additional-services {
  color: #2D2D2D;
}
.additional-services--upward-shift {
  margin-top: -128px;
}
.additional-services__wrapper {
  background: #FFFFFF;
  /* Основная тень */
  box-shadow: -12.2082px 12.2082px 24.4164px rgba(230, 230, 230, 0.2), 12.2082px -12.2082px 24.4164px rgba(230, 230, 230, 0.2), 12.2082px 12.2082px 30.9274px rgba(230, 230, 230, 0.9);
  border-radius: 20px;
  padding-top: 23px;
  padding-bottom: 20px;
}
.additional-services__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 15px;
}
.additional-services__sub-title {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 15px;
}
.additional-services__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}
.additional-services__list__item {
  margin-bottom: 15px;
  width: 100%;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  position: relative;
  padding-left: 34px;
}
.additional-services__list__item::before {
  display: block;
  position: absolute;
  left: 0px;
  top: 6px;
  content: "";
  width: 19.09px;
  height: 18px;
  background: transparent;
  background-image: url("../../images/icons/empty-tick-black.svg") !important;
  background-size: 19.09px 18px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .additional-services__list__item {
    padding-left: 39px;
    position: relative;
  }
  .additional-services__list__item::before {
    display: block;
    position: absolute;
    left: 6px;
    top: 0px;
    content: "";
    width: 24.09px;
    height: 23px;
    background: transparent;
    background-size: 24.09px 23px;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1024px) {
  .additional-services__list__item {
    padding-left: 44px;
  }
  .additional-services__list__item::before {
    display: block;
    position: absolute;
    left: 0px;
    top: -3px;
    content: "";
    width: 29.09px;
    height: 28px;
    background: transparent;
    background-size: 29.09px 28px;
    background-repeat: no-repeat;
  }
}
.additional-services__list__item::last-child {
  margin-bottom: 0;
}
@media (max-width: 767.5px) {
  .additional-services__outer-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
@media (min-width: 768px) {
  .additional-services__wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .additional-services__outer-wrapper {
    max-width: auto;
  }
  .additional-services__list {
    justify-content: space-between;
  }
  .additional-services__list__item {
    width: 47%;
  }
}
@media (min-width: 1920px) {
  .additional-services--upward-shift {
    margin-top: -191px;
  }
}

.cases {
  overflow: hidden;
  margin-bottom: 80px;
}
.cases__button {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 110.4%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(91.18deg, #1C89D1 0.05%, #2FA0EB 99.98%);
  border-radius: 15px;
  width: 100%;
  padding: 20px 0;
  border: none;
  color: white;
  white-space: nowrap;
}
.cases__button:hover {
  background: linear-gradient(91.18deg, #0F72B3 0.05%, #1D8BD3 99.98%);
  color: white;
}
.cases__button:active {
  background: linear-gradient(91.18deg, #0F659D 0.05%, #0373BD 99.98%);
  color: white;
}
.cases__down-bar__blue-link {
  text-decoration: none;
  background-color: transparent;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #0071BC;
  border-radius: 0px;
  width: 100%;
  padding: 13px 0;
  border: none;
  color: #0071BC;
  border: none;
  text-decoration: none;
}
.cases__down-bar__blue-link:hover {
  border-color: #0267AA;
  color: #0267AA;
}
.cases__down-bar__blue-link:active {
  border-color: #004D81;
  color: #004D81;
}
.cases__down-bar__blue-link__image {
  margin-left: 15px;
  background-image: url("../../images/icons/info.svg");
  width: 23px;
  height: 23px;
}
.cases__down-bar__blue-link:hover__image {
  background-image: url("../../images/icons/info-hover.svg");
}
.cases__down-bar__blue-link:active__image {
  background-image: url("../../images/icons/info-active.svg");
}
.cases__text-list {
  list-style-type: none;
}
.cases__text-list li {
  padding-left: 0 !important;
  margin-bottom: 15px !important;
}
.cases__text-list li:last-child {
  margin-bottom: 0;
}
.cases__text-list li::before {
  display: none;
}
.cases__sub-title {
  margin-top: 23px;
  margin-bottom: 15px;
}
.cases__marked {
  color: #0071BC;
}
.cases__list-item {
  position: relative;
  padding-left: 26px;
}
.cases__list-item::before {
  display: block;
  position: absolute;
  left: 0px;
  top: 4px;
  content: "";
  border-radius: 50%;
  width: 11px;
  height: 11px;
  background: transparent;
  border: 2px solid #0071BC;
}
@media (min-width: 768px) {
  .cases {
    margin-bottom: 87px;
  }
  .cases__down-bar {
    margin-top: 40px !important;
  }
}
@media (min-width: 1920px) {
  .cases {
    margin-bottom: 120px;
  }
}

.reviews {
  color: #FFFFFF;
  overflow: hidden;
  margin-bottom: 80px;
}
.reviews__down-wrapper-desctop {
  width: 100%;
}
.reviews__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  background: linear-gradient(97.92deg, #1F3050 0%, #14326B 100%);
}
.reviews .our-workers {
  margin: 0;
}
.reviews__title--mobile {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 13px;
}
.reviews__title--tablet {
  display: none;
}
.reviews__wrapper-image-text {
  padding: 0;
}
.reviews__image {
  display: block;
  margin: 0 auto;
}
.reviews__image-wrapper {
  margin-bottom: 25px;
}
.reviews__image-wrapper--desctop {
  display: none;
}
.reviews__text {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 15px;
}
.reviews__inserted-block {
  margin-top: 26px;
}
.reviews__down-bar__button {
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 110.4%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(91.18deg, #1C89D1 0.05%, #2FA0EB 99.98%);
  border-radius: 15px;
  width: 100%;
  padding: 20px 0;
  border: none;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}
.reviews__down-bar__button:hover {
  background: linear-gradient(91.18deg, #0F72B3 0.05%, #1D8BD3 99.98%);
  color: white;
}
.reviews__down-bar__button:active {
  background: linear-gradient(91.18deg, #0F659D 0.05%, #0373BD 99.98%);
  color: white;
}
.reviews__down-bar__white-link {
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 17px 0;
  background-color: transparent;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: white !important;
  color: white;
}
.reviews__down-bar__white-link__image {
  margin-left: 15px;
}
@media (min-width: 768px) {
  .reviews {
    margin-bottom: 55px;
  }
  .reviews__wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .reviews__title--mobile {
    display: none;
  }
  .reviews__title--tablet {
    display: block;
  }
  .reviews__title {
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 30px;
  }
  .reviews__wrapper-image-text {
    display: flex;
    justify-content: space-between;
  }
  .reviews__image {
    margin: 0;
    max-height: 100%;
  }
  .reviews__image-wrapper {
    height: 463.8px;
    width: 46.4%;
    padding-left: 0;
    margin: 0;
    margin-right: auto;
  }
  .reviews__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 30px;
  }
  .reviews__text-wrapper {
    width: 53%;
    order: -1;
    padding-right: 0;
    margin: 0;
    margin-left: auto;
  }
  .reviews__down-bar {
    display: flex;
    width: 68.92%;
  }
  .reviews__down-bar__button {
    order: -1;
  }
  .reviews__inserted-block {
    margin-top: 40px;
    margin-bottom: 30px;
  }
}
@media (min-width: 991px) {
  .reviews__read-more {
    margin-bottom: 0;
  }
  .reviews__text-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
  }
}
@media (min-width: 1920px) {
  .reviews {
    margin-bottom: 85px;
  }
  .reviews__wrapper {
    display: block;
  }
  .reviews__text-wrapper {
    display: block;
    width: 55%;
  }
  .reviews__down-wrapper-desctop {
    margin-left: auto;
    width: 35%;
    margin-left: 46.2%;
  }
  .reviews__image-wrapper--mobile {
    display: none;
  }
  .reviews__image-wrapper--desctop {
    display: block;
    width: 35.5%;
    height: 100%;
  }
  .reviews__image {
    margin: 0;
    width: 760px;
    height: 60%;
  }
  .reviews__image-wrapper--desctop {
    display: block;
    width: 45%;
    height: 100%;
  }
  .reviews__wrapper-image-text--desctop {
    margin-top: -38.8%;
  }
}
@media (min-width: 2100px) {
  .reviews__wrapper-image-text--desctop {
    margin-top: -37.5%;
  }
  .reviews__down-wrapper-desctop {
    width: 34%;
  }
}
@media (min-width: 2130px) {
  .reviews__wrapper-image-text--desctop {
    margin-top: -37%;
  }
}
@media (min-width: 2150px) {
  .reviews {
    overflow: visible;
  }
  .reviews__down-wrapper-desctop {
    margin-left: 46.7%;
    width: 33%;
  }
  .reviews__wrapper-image-text--desctop {
    margin-top: -34.6%;
  }
}
@media (min-width: 2151px) {
  .reviews {
    overflow: visible;
  }
  .reviews__wrapper-image-text--desctop {
    overflow: hidden;
  }
  .reviews img {
    margin-bottom: 20%;
  }
}
@media (min-width: 2200px) {
  .reviews__down-wrapper-desctop {
    width: 32%;
  }
  .reviews__wrapper-image-text--desctop {
    margin-top: -34.6%;
    margin-top: -37.5%;
  }
}
@media (min-width: 2270px) {
  .reviews__wrapper-image-text--desctop {
    margin-top: -38%;
  }
}
@media (min-width: 2300px) {
  .reviews__down-wrapper-desctop {
    margin-left: 47.2%;
    width: 31%;
  }
}
@media (min-width: 2350px) {
  .reviews__wrapper-image-text--desctop {
    margin-top: -35%;
  }
}
@media (min-width: 2400px) {
  .reviews__down-wrapper-desctop {
    width: 30%;
  }
}
@media (min-width: 2500px) {
  .reviews__down-wrapper-desctop {
    width: 28.5%;
  }
}
@media (min-width: 2550px) {
  .reviews__wrapper-image-text--desctop {
    margin-top: -33%;
  }
  .reviews__down-wrapper-desctop {
    width: 27.5%;
  }
}
@media (min-width: 2550px) {
  .reviews__wrapper-image-text--desctop {
    margin-top: -29.1%;
  }
}
@media (min-width: 2680px) {
  .reviews__wrapper-image-text--desctop {
    margin-top: -27.7%;
    max-height: 739px;
  }
  .reviews__down-wrapper-desctop {
    width: 26.5%;
  }
}

.completed-works {
  width: 100%;
  color: #FFF48F;
}
.completed-works__wrapper {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 23px;
}
@media (max-width: 767.5px) {
  .completed-works__outer-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
}
.completed-works__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 20px;
}
.completed-works__list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
}
.completed-works__list__item {
  padding: 0;
  margin-bottom: 15px;
}
.completed-works__list__item:last-child {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .completed-works {
    max-width: auto;
  }
  .completed-works__wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .completed-works__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.our-workers {
  width: 100%;
}
.our-workers__wrapper {
  margin-top: 40px;
}
.our-workers .slider__wrapper {
  margin-top: 25px;
  margin-bottom: 25px;
}
.our-workers .slider__container {
  justify-content: center;
}
.our-workers .slider__items {
  justify-content: center;
}
.our-workers .slider__item {
  width: 150px;
  max-width: 180px;
  padding: 0 15px;
}
.our-workers .slider__indicators li {
  box-shadow: none;
}
.our-workers__block {
  max-width: 150px;
}
.our-workers__block__frame {
  overflow: hidden;
  width: 150px;
  height: 135px;
  border-radius: 40px;
}
.our-workers__block__frame:hover {
  outline: 1px solid #1C89D1;
  outline-offset: -1px;
}
.our-workers__block__frame:active {
  outline: 2px solid rgba(28, 137, 209, 0.4);
  outline-offset: -2px;
}
@media (min-width: 768px) {
  .our-workers__block__frame {
    width: 175px;
    height: 158px;
  }
}
@media (min-width: 1920px) {
  .our-workers__block__frame {
    width: 150px;
    height: 135px;
  }
}
.our-workers__block__image {
  width: 150px;
  height: 135px;
}
.our-workers__block__title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-top: 10px;
  text-align: center;
  padding: 0 5%;
  width: 150px;
}
@media (min-width: 768px) {
  .our-workers__wrapper {
    margin-top: 40px;
  }
  .our-workers .slider__wrapper {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .our-workers .slider__item {
    width: 175px;
    max-width: 235px;
    padding: 0 30px;
  }
  .our-workers .slider__indicators {
    display: none;
  }
  .our-workers__block {
    max-width: 175px;
  }
  .our-workers__block__frame {
    overflow: hidden;
    width: 150px;
    height: 135px;
    border-radius: 40px;
  }
  .our-workers__block__frame:hover {
    outline: 1px solid #1C89D1;
    outline-offset: -1px;
  }
  .our-workers__block__frame:active {
    outline: 2px solid rgba(28, 137, 209, 0.4);
    outline-offset: -2px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .our-workers__block__frame {
    width: 175px;
    height: 158px;
  }
}
@media (min-width: 768px) and (min-width: 1920px) {
  .our-workers__block__frame {
    width: 150px;
    height: 135px;
  }
}
@media (min-width: 768px) {
  .our-workers__block__image {
    width: 175px;
    height: 158px;
  }
}
@media (min-width: 768px) {
  .our-workers__block__title {
    font-size: 16px;
    line-height: 20px;
    padding: 0 10%;
    width: 175px;
  }
}
@media (min-width: 1920px) {
  .our-workers .slider__items {
    justify-content: space-between;
  }
  .our-workers__wrapper {
    margin-top: 0;
  }
  .our-workers .slider__wrapper {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .our-workers .slider__item {
    width: 150px;
    max-width: 150px;
    padding: 0;
  }
  .our-workers .slider__item:first-child {
    padding-left: 10px;
  }
  .our-workers__block {
    max-width: 150px;
  }
  .our-workers__block__frame {
    overflow: hidden;
    width: 150px;
    height: 135px;
    border-radius: 40px;
  }
  .our-workers__block__frame:hover {
    outline: 1px solid #1C89D1;
    outline-offset: -1px;
  }
  .our-workers__block__frame:active {
    outline: 2px solid rgba(28, 137, 209, 0.4);
    outline-offset: -2px;
  }
}
@media (min-width: 1920px) and (min-width: 768px) {
  .our-workers__block__frame {
    width: 175px;
    height: 158px;
  }
}
@media (min-width: 1920px) and (min-width: 1920px) {
  .our-workers__block__frame {
    width: 150px;
    height: 135px;
  }
}
@media (min-width: 1920px) {
  .our-workers__block__image {
    width: 150px;
    height: 135px;
  }
}
@media (min-width: 1920px) {
  .our-workers__block__title {
    font-size: 16px;
    line-height: 20px;
    padding: 0 10%;
    width: 150px;
  }
}
/*# sourceMappingURL=maps/style.css.map */
