@charset "UTF-8";
.main-block-wrapper {
  padding: 0 15px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .main-block-wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1350px) {
  .main-block-wrapper {
    padding: 0 60px;
  }
}
@media (min-width: 1400px) {
  .main-block-wrapper {
    max-width: 1196px;
  }
}
@media (min-width: 1920px) {
  .main-block-wrapper {
    padding: 0 375px;
  }
}

.no-scroll-y {
  overflow-y: hidden;
}

.page {
  overflow-x: hidden;
}
.page__body {
  overflow-x: hidden;
}

@media (max-width: 991px) {
  .footer {
    background: linear-gradient(97.92deg, #1F3050 0%, #14326B 100%);
  }
}
.video .slider__wrapper {
  overflow: hidden;
}

@media (max-width: 767.5px) {
  .promo .btn-price__block {
    width: 100%;
  }
  .promo .btn-price__block .btn__main {
    width: 100% !important;
    text-align: center;
  }
}
.promo .btn-price__block div span {
  white-space: nowrap;
}
.promo .btn-price__block .btn__main {
  background: linear-gradient(91.18deg, #1C89D1 0.05%, #2FA0EB 99.98%);
  white-space: nowrap !important;
  border-radius: 15px;
}
.promo .btn-price__block .btn__main:hover {
  background: linear-gradient(91.18deg, #0F72B3 0.05%, #1D8BD3 99.98%);
}
.promo .btn-price__block .btn__main:active {
  background: linear-gradient(91.18deg, #0F659D 0.05%, #0373BD 99.98%);
}
.promo--invert {
  padding-bottom: 80px;
  padding-top: 30px;
  background: linear-gradient(97.92deg, #1F3050 0%, #14326B 100%);
  color: white;
}
@media (max-width: 767.5px) {
  .promo--invert .btn-price__block {
    width: 100%;
  }
  .promo--invert .btn-price__block .btn__main {
    width: 100% !important;
    text-align: center;
  }
}
.promo--invert h2 {
  margin-bottom: 20px;
}
.promo--invert .banner__img {
  display: none;
}
@media (min-width: 1200px) {
  .promo--invert {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .promo--invert .banner__img {
    display: block;
  }
}
.promo--invert .btn-price__block div span:last-child {
  color: white;
  white-space: nowrap;
}
.promo--invert .btn-price__block .btn__main {
  background: linear-gradient(91.01deg, #FF981E 0%, #FEB62A 100%);
  white-space: nowrap;
}
.promo--invert .btn-price__block .btn__main:hover {
  background: linear-gradient(91.01deg, #E08010 0%, #FFAF15 100%);
}
.promo--invert .btn-price__block .btn__main:active {
  background: linear-gradient(91.01deg, #DA7805 0%, #DD9200 100%);
}
.promo--invert .ul__arrow {
  margin-bottom: 30px;
}
.promo--invert .ul__arrow li {
  position: relative;
  padding-left: 34px;
}
.promo--invert .ul__arrow li::before {
  display: block;
  position: absolute;
  left: 0px;
  content: "";
  width: 19.09px;
  height: 14px;
  background: transparent;
  background-image: url("../../images/icons/empty-tick-white.svg") !important;
  background-position-y: center;
  background-size: 19.09px 18px;
  background-repeat: no-repeat;
}
.promo .ul__arrow {
  margin-bottom: 30px;
}
.promo .ul__arrow li::before {
  display: block;
  position: absolute;
  left: 0px;
  top: 6px;
  content: "";
  width: 7px;
  height: 7px;
  background: #0071BC;
  border-radius: 50%;
}

.side-nav {
  display: none;
  z-index: 100;
  mix-blend-mode: difference;
  filter: invert(1);
  position: fixed;
  top: 0px;
  left: 30px;
}
@media (min-width: 1920px) {
  .side-nav {
    display: flex;
    height: 100vh;
    align-items: center;
  }
}
.side-nav__nav {
  position: relative;
  border-radius: 20px;
  border-right: 1px solid #1C89D1;
  padding: 20px;
}
.side-nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.side-nav__list__item {
  margin-bottom: 20px;
  margin-left: auto;
  width: fit-content;
}
.side-nav__list__item-link {
  color: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}
.side-nav__list__item-link--active {
  color: #0071BC;
  border-bottom: 1px solid #0071BC;
}
.side-nav__list__item-link--active:hover {
  border-bottom: 1px solid #FF6871;
}
.side-nav__list__item:last-child {
  margin-bottom: 0;
}
.side-nav__list__item--active {
  color: #0071BC;
  border-bottom: 1px solid #0071BC;
}
.side-nav__list__item--active:hover {
  border-bottom: 1px solid #FF6871;
}
.side-nav__list__item--active .side-nav__list__item-link {
  color: #0071BC;
}
.side-nav__list__item--active .side-nav__list__item-link--active {
  color: #0071BC;
  border-bottom: 1px solid #0071BC;
}
.side-nav__list__item--active .side-nav__list__item-link:hover {
  color: #0071BC;
}
.side-nav__list__item--message .side-nav__list__item-link {
  border: 1px solid #0071BC;
  color: #0071BC;
  padding: 10px;
  border-radius: 5px;
}
.side-nav__list__item--message .side-nav__list__item-link:hover {
  color: #FF6871;
}
.side-nav__list__item--message .side-nav__list__item-link:active {
  color: #0071BC;
}
.modal-preview-show .side-nav {
  display: none;
}

.modal-preview {
  box-sizing: padding-box;
  font-family: "Montserrat";
  color: #2D2D2D;
  z-index: 20;
  background: rgba(0, 0, 0, 0.5);
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-y: scroll;
  display: none;
}
.modal-preview__wrapper {
  padding: 30px 15px;
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
  /* Тень формы */
  box-shadow: 0px 15px 38px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 90.625%;
  margin-top: 127px;
  margin-bottom: 88px;
  height: fit-content;
}
.modal-preview__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 15px;
}
.modal-preview__image-wrapper {
  border-radius: 30px;
  box-shadow: -12.2082px 12.2082px 24.4164px rgba(230, 230, 230, 0.2), 12.2082px -12.2082px 24.4164px rgba(230, 230, 230, 0.2), 12.2082px 12.2082px 30.9274px rgba(230, 230, 230, 0.9);
  overflow: hidden;
  margin-bottom: 17px;
}
.modal-preview__image {
  width: 100%;
}
.modal-preview__description {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 15px;
}
.modal-preview__description:last-of-type {
  margin-bottom: 22px;
}
.modal-preview__list {
  margin-bottom: 22px;
  padding: 0px;
  list-style: none;
}
.modal-preview__list__item {
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 18px;
  position: relative;
  padding-left: 18.84px;
}
.modal-preview__list__item:last-child {
  margin-bottom: 0;
}
.modal-preview__list__item::before {
  display: block;
  position: absolute;
  top: 4px;
  left: 0px;
  content: "";
  width: 12px;
  height: 8.84px;
  background: transparent;
  background-image: url("../../images/icons/empty-tick-black.svg") !important;
  background-position: center;
  background-size: 12px 8.84px;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .modal-preview__list__item {
    padding-left: 45px;
  }
  .modal-preview__list__item::before {
    display: block;
    position: absolute;
    top: 3.5px;
    left: 0px;
    content: "";
    width: 19.09px;
    height: 14px;
    background: transparent;
    background-image: url("../../images/icons/empty-tick-black.svg") !important;
    background-position-y: center;
    background-size: 19.09px 18px;
    background-repeat: no-repeat;
  }
}
.modal-preview__close {
  cursor: pointer;
  bottom: 3px;
  right: -16px;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  box-shadow: 0px 15px 38px rgba(0, 0, 0, 0.2);
  border-radius: 10.3448px;
}
.modal-preview__close__wrapper {
  position: relative;
}
.modal-preview__close:before {
  content: "";
  width: 25.5px;
  height: 25.25px;
  background-image: url("../../images/icons/crosshair.svg");
  background-size: 25.5px 25.25px;
  position: absolute;
  margin-top: 7.44px;
  margin-left: 7.13px;
}
.modal-preview__form__input {
  background: #FFFFFF;
  outline: 1px solid #E3E3E3;
  border: none;
  border-radius: 15px;
  width: 100%;
  padding: 12px 15px;
  font-weight: 400;
  font-size: 15px;
  line-height: 110.4%;
  color: #2D2D2D;
  margin-bottom: 10px;
}
.modal-preview__form__input::placeholder {
  font-weight: 400;
  font-size: 15px;
  line-height: 110.4%;
  color: #828282;
}
.modal-preview__form__input:focus {
  outline: 2px solid #FEB62A;
  outline-offset: -1px;
}
.modal-preview__form__price-block {
  margin-left: 7%;
  margin-bottom: 10px;
}
@media (min-width: 600px) {
  .modal-preview__form__price-block {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .modal-preview__form__price-block {
    min-width: 160px;
    margin-bottom: 0;
  }
}
.modal-preview__form__price-block__discount {
  color: #838383;
  font-size: 16px;
  line-height: 110.4%;
  text-decoration-line: line-through;
  margin-bottom: 0;
}
.modal-preview__form__price-block__price {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #2D2D2D;
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .modal-preview__form__price-block__price {
    font-size: 25px;
    line-height: 30px;
  }
}
.modal-preview__form__price-block__price {
  font-size: 25px;
  line-height: 30px;
}
.modal-preview__form__price-block__discount {
  font-size: 16px;
  line-height: 110.4%;
}
.modal-preview__form__submit {
  margin-top: 25px;
  text-decoration: none;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 110.4%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(91.01deg, #FF981E 0%, #FEB62A 100%);
  border-radius: 15px;
  width: 100%;
  padding: 15px 0;
  border: none;
  color: white;
  cursor: pointer;
}
.modal-preview__form__submit:hover {
  background: linear-gradient(91.01deg, #E08010 0%, #FFAF15 100%);
  color: white;
}
.modal-preview__form__submit:active {
  background: linear-gradient(91.01deg, #DA7805 0%, #DD9200 100%);
  color: white;
}
.modal-preview__form__privacy-policy {
  font-weight: 400;
  font-size: 13px;
  line-height: 110.4%;
  color: #5A5A5A;
  margin-top: 15px;
  display: block;
  text-align: center;
  text-decoration: none;
}
@media (min-width: 768px) {
  .modal-preview__wrapper {
    padding: 30px;
    box-shadow: -12.2082px 12.2082px 24.4164px rgba(230, 230, 230, 0.2), 12.2082px -12.2082px 24.4164px rgba(230, 230, 230, 0.2), 12.2082px 12.2082px 30.9274px rgba(230, 230, 230, 0.9);
    border-radius: 30px;
    width: 92.1875%;
    margin-top: 87px;
    margin-bottom: 175px;
  }
  .modal-preview__text-wrapper {
    margin: 0 10px;
  }
  .modal-preview__close {
    bottom: -3px;
    right: -51px;
    position: absolute;
    width: 58px;
    height: 58px;
    background-color: white;
    box-shadow: 0px 15px 38px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
  .modal-preview__close:before {
    content: "";
    width: 37px;
    height: 36.6px;
    background-image: url("../../images/icons/crosshair.svg");
    background-size: 37px 36.6px;
    position: absolute;
    margin-top: 10.78px;
    margin-left: 10.33px;
  }
  .modal-preview__title {
    font-size: 30px;
    line-height: 41px;
    margin-bottom: 13px;
  }
  .modal-preview__image-wrapper {
    margin-bottom: 30px;
  }
  .modal-preview__image {
    width: 100%;
  }
  .modal-preview__description {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .modal-preview__description:last-of-type {
    margin-bottom: 30px;
  }
  .modal-preview__list__item {
    font-size: 16px;
    line-height: 20px;
  }
  .modal-preview__form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .modal-preview__form__input {
    background: #FFFFFF;
    outline: 1px solid #E3E3E3;
    border: none;
    border-radius: 15px;
    width: 47.68%;
    padding: 15px 32px;
    font-weight: 400;
    font-size: 18px;
    line-height: 110.4%;
    margin-bottom: 25px;
  }
  .modal-preview__form__input::placeholder {
    font-weight: 400;
    font-size: 18px;
  }
  .modal-preview__form__price-block {
    width: 47.68%;
    display: flex;
    margin: 0;
    margin-left: 20px;
    justify-content: left;
  }
  .modal-preview__form__price-block__price {
    order: -1;
    margin-right: 13px;
  }
  .modal-preview__form__price-block__discount {
    margin-top: 6px;
  }
  .modal-preview__form__submit {
    margin-top: 0px;
    text-decoration: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 110.4%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(91.01deg, #FF981E 0%, #FEB62A 100%);
    border-radius: 15px;
    width: 100%;
    padding: 15px 0;
    border: none;
    color: white;
    cursor: pointer;
    width: 47.68%;
  }
  .modal-preview__form__submit:hover {
    background: linear-gradient(91.01deg, #E08010 0%, #FFAF15 100%);
    color: white;
  }
  .modal-preview__form__submit:active {
    background: linear-gradient(91.01deg, #DA7805 0%, #DD9200 100%);
    color: white;
  }
  .modal-preview__form__privacy-policy {
    font-size: 10px;
    line-height: 110.4%;
    color: #5A5A5A;
    margin-top: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 47.68%;
    order: 10;
    margin-left: auto;
  }
}
@media (min-width: 1440px) {
  .modal-preview__wrapper {
    max-width: 1110px;
    padding: 56px 50px 43px 50px;
    width: 57.81%;
    margin-top: 68px;
    margin-bottom: 166px;
  }
  .modal-preview__text-wrapper {
    margin: 0 20px;
  }
  .modal-preview__close {
    bottom: 6px;
    right: -58px;
    position: absolute;
    width: 58px;
    height: 58px;
    background-color: white;
    box-shadow: 0px 15px 38px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
  .modal-preview__close:before {
    content: "";
    width: 37px;
    height: 36.6px;
    background-image: url("../../images/icons/crosshair.svg");
    background-size: 37px 36.6px;
    position: absolute;
    margin-top: 10.78px;
    margin-left: 10.33px;
  }
  .modal-preview__title {
    margin-bottom: 30px;
  }
  .modal-preview__image-wrapper {
    margin-bottom: 50px;
  }
  .modal-preview__image {
    width: 100%;
  }
  .modal-preview__description:last-of-type {
    margin-bottom: 0px;
  }
  .modal-preview__list {
    margin-bottom: 20px;
  }
  .modal-preview__form {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 65px;
  }
  .modal-preview__form__input {
    width: 43.14%;
  }
  .modal-preview__form__price-block {
    width: 43.14%;
  }
  .modal-preview__form__price-block__discount {
    margin-top: 6px;
  }
  .modal-preview__form__submit {
    margin-top: 0px;
    text-decoration: none;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 110.4%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(91.01deg, #FF981E 0%, #FEB62A 100%);
    border-radius: 15px;
    width: 100%;
    padding: 15px 0;
    border: none;
    color: white;
    cursor: pointer;
    width: 43.14%;
  }
  .modal-preview__form__submit:hover {
    background: linear-gradient(91.01deg, #E08010 0%, #FFAF15 100%);
    color: white;
  }
  .modal-preview__form__submit:active {
    background: linear-gradient(91.01deg, #DA7805 0%, #DD9200 100%);
    color: white;
  }
  .modal-preview__form__privacy-policy {
    font-size: 10px;
    line-height: 110.4%;
    color: #5A5A5A;
    display: block;
    text-align: center;
    text-decoration: none;
    width: 43.14%;
    order: 10;
    margin-left: auto;
  }
}

.modal-preview-show .modal-preview {
  display: flex;
}

.email-agency {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  color: white;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-bottom: 0px;
}
.email-agency::after {
  position: absolute;
  height: 500px;
  top: 430px;
  content: "";
  background-image: url(../../images/bg-email-text.svg);
  width: 188%;
  background-size: 90%;
  background-position-y: 10%;
  background-position-x: -177%;
  background-repeat: no-repeat;
}
.email-agency__title-main {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
}
@media (min-width: 375px) {
  .email-agency__title-main {
    font-size: 30px;
    line-height: 37px;
  }
}
@media (min-width: 768px) {
  .email-agency__title-main {
    font-size: 62px;
    line-height: 76px;
  }
}
@media (min-width: 768px) {
  .email-agency {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
@media (min-width: 1920px) {
  .email-agency {
    margin-top: 120px;
    margin-bottom: 120px;
  }
}
.email-agency .btn__main {
  box-shadow: 0px 4px 34px rgba(255, 161, 34, 0.4);
  z-index: 1;
}
.email-agency .banner__img--down {
  width: 100%;
  order: -1;
  display: flex;
  justify-content: center;
}
.email-agency .banner__img-wrapper--down {
  z-index: 1;
  pointer-events: none;
  width: 100%;
  margin-top: 25%;
}
.email-agency .banner__img--down img {
  transform: scale(1.556) translateX(-6px);
  margin-bottom: 22.5%;
}
.email-agency .ul__arrow {
  margin-bottom: 25px;
}
.email-agency .ul__arrow li {
  position: relative;
  padding-left: 20px;
  font-size: 16px;
  line-height: 20px;
}
.email-agency .ul__arrow li::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 5px;
  background: none !important;
  border-radius: 50%;
  border: 1.5px solid #FFFFFF;
}
@media (min-width: 768px) {
  .email-agency .ul__arrow li {
    padding-left: 35px;
  }
  .email-agency .ul__arrow li::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 2.5px;
    background: none !important;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
  }
}
.email-agency__title-label {
  text-align: center;
  background: linear-gradient(246.91deg, #028DF5 8.05%, #029CC2 54.71%, #08AAB0 100.89%);
  border-radius: 16.1738px;
  transform: rotate(-3.5deg);
  padding: 9.31px 20.67px;
  width: 100%;
  font-weight: 600;
  font-size: 25.8781px;
  line-height: 32px;
  margin-top: -0.3em;
  margin-bottom: 46px;
}
@media (min-width: 375px) {
  .email-agency__title-label {
    background: linear-gradient(246.91deg, #028DF5 8.05%, #029CC2 54.71%, #08AAB0 100.89%);
    border-radius: 20px;
    transform: rotate(-3.5deg);
    padding: 11.51px 0px;
    font-size: 32px;
    line-height: 39px;
    width: 100%;
    margin-top: -0.3em;
    margin-bottom: 56px;
  }
  .email-agency .ul__arrow li {
    font-size: 18px;
    line-height: 22px;
  }
}
@media (min-width: 400px) {
  .email-agency__title-label {
    width: 100%;
  }
}
@media (min-width: 500px) {
  .email-agency__title-label {
    width: 80%;
  }
}
@media (min-width: 600px) {
  .email-agency__title-label {
    width: 65%;
  }
}
@media (min-width: 768px) {
  .email-agency {
    padding-top: 56px;
  }
  .email-agency::after {
    position: absolute;
    height: 600px;
    top: 540px;
    content: "";
    background-image: url(../../images/bg-email-text.svg);
    width: 150%;
    background-size: 90%;
    background-position-y: -10px;
    background-position-x: -150%;
  }
  .email-agency__title-label {
    font-size: 52px;
    line-height: 63px;
    width: 80%;
    margin-bottom: 76px;
  }
  .email-agency .banner__img--down img {
    transform: scale(1.1) translateX(9%);
    margin-bottom: 4%;
  }
  .email-agency .banner__img-wrapper--down {
    margin-top: -83px;
  }
  .email-agency .ul__arrow {
    margin-bottom: 20px;
  }
  .email-agency .ul__arrow li {
    font-size: 24px;
    line-height: 29px;
  }
}
@media (min-width: 992px) {
  .email-agency__upper-wrapper {
    width: 100%;
  }
  .email-agency__title-label {
    width: 60%;
  }
  .email-agency .banner__wrapper .ul__arrow {
    margin-bottom: 45px;
  }
  .email-agency .banner__img--down img {
    margin-bottom: 3.58%;
  }
}
@media (min-width: 1200px) {
  .email-agency {
    padding-top: 45px;
  }
  .email-agency::after {
    position: absolute;
    height: 700px;
    top: 420px;
    content: "";
    background-image: url(../../images/bg-email-text.svg);
    width: 150%;
    background-size: 90%;
    background-position-y: -10px;
    background-position-x: -170%;
  }
  .email-agency .btn-price__block {
    padding-bottom: 68px;
  }
  .email-agency .banner__img-wrapper--down {
    margin-top: -153px;
  }
  .email-agency .banner__img--down img {
    margin-bottom: 3.08%;
  }
}
@media (min-width: 1400px) {
  .email-agency::after {
    position: absolute;
    height: 700px;
    top: 0px;
    left: 41%;
    content: "";
    background-image: url(../../images/bg-email-text.svg);
    width: 1250px;
    background-size: 75%;
    background-position-y: 0px;
    background-position-x: 28px;
  }
  .email-agency .ul__arrow li {
    font-size: 24px;
    line-height: 29px;
  }
  .email-agency .banner__img--down img {
    transform: scale(1.46);
    margin-bottom: 5.6%;
  }
  .email-agency__upper-wrapper {
    width: 52%;
  }
  .email-agency .banner__img-wrapper--down {
    width: 48%;
    margin-top: 0;
  }
  .email-agency__title-label {
    width: 95.27%;
  }
}
/*# sourceMappingURL=maps/style.css.map */
