.page{
  overflow-x: hidden;
  &__body{
    overflow-x: hidden;
    &>section:not(.breadcrumbs){
      max-width: 100vw;
      overflow-x: hidden;
    }
  }

}

@media (max-width: 991px){
.footer {
  background: $gr-dark-blue;
}
}
#email-agency{
  margin-top: 0;
}



