.page{
  &__body{
    overflow-x: hidden;
    &>section:not(.breadcrumbs){
      max-width: 100vw;
      overflow-x: hidden;
    }
  }

}

// Исправление, сайдбар перекрывал хедер.

.side-nav{
  z-index: 8 !important;
}

@media (max-width: 991px){
.footer {
  background: $gr-dark-blue;
}
}
#email-agency{
  margin-top: 18px;
}

// Исправление обрезания тени
#services-list{
  overflow-x: visible;
}



