@mixin button($bg: unset, $txt-color:white, $br: 0, $bg-hover: unset, $bg-active: unset){
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 110.4%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg;
  border-radius: $br;
  width: 100%;
  padding: 15px 0;
  border: none;
  color: $txt-color;
  cursor: pointer;
  &:hover{
    background: $bg-hover;
    color: $txt-color;
  }
  &:active{
    background: $bg-active;
    color: $txt-color;
  }
}

@mixin blue-button{
  @include button(linear-gradient(91.18deg, #1C89D1 0.05%, #2FA0EB 99.98%), white, 15px,linear-gradient(91.18deg, #0F72B3 0.05%, #1D8BD3 99.98%),linear-gradient(91.18deg, #0F659D 0.05%, #0373BD 99.98%));
}

@mixin blue-button-color{
  background: linear-gradient(91.18deg, #1C89D1 0.05%, #2FA0EB 99.98%);
  &:hover{
    background: linear-gradient(91.18deg, #0F72B3 0.05%, #1D8BD3 99.98%);
  }
   
  &:active{
    background: linear-gradient(91.18deg, #0F659D 0.05%, #0373BD 99.98%);
  }
}

@mixin orange-button-color{
  background: linear-gradient(91.01deg, #FF981E 0%, #FEB62A 100%);
  &:hover{
    background: linear-gradient(91.01deg, #E08010 0%, #FFAF15 100%);
  }
  &:active{
    background: linear-gradient(91.01deg, #DA7805 0%, #DD9200 100%);
  }
}

@mixin orange-button{
  @include button(linear-gradient(91.01deg, #FF981E 0%, #FEB62A 100%), white, 15px, linear-gradient(91.01deg, #E08010 0%, #FFAF15 100%), linear-gradient(91.01deg, #DA7805 0%, #DD9200 100%));
}

@mixin button-bordered($br-width: 1px, $br-style: solid, $br-color, $txt-color:white, $br-radius: 0, $br-hover: unset, $br-active: unset, $txt-color-hover: unset, $txt-color-active: unset){
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: $br-width $br-style $br-color;
  border-radius: $br-radius;
  width: 100%;
  padding: 13px 0;
  color: $txt-color;
  &:hover{
    border-color: $br-hover;
    color: $txt-color-hover;
  }
  &:active{
    border-color: $br-active;
    color: $txt-color-active;
  }
}

@mixin blue-bordered-button($br-radius: 15px){
  @include button-bordered(2px, solid, $ui-blue, $ui-blue, $br-radius, $ui-blue-hover, $ui-blue-active, $ui-blue-hover, $ui-blue-active)
}

@mixin blue-link-with-icon($width: auto, $height: auto, $img, $img-hover, $img-active,  $icon-spacing: 15px) {
  @include blue-bordered-button(0px);
  border: none;
  text-decoration: none;
  background-repeat: no-repeat;
  &::after {
    content: '';
    background: url($img);
    margin-left: $icon-spacing;
    width: $width;
    height: $height;
    background-repeat: no-repeat;
  }
  &:hover{
    &::after {
      content: '';
      background: url($img-hover);
      margin-left: $icon-spacing;
      width: $width;
      height: $height;
      background-repeat: no-repeat;
    }
  }    
  &:active{
    &::after {
      content: '';
      background: url($img-active);
      margin-left: $icon-spacing;
      width: $width;
      height: $height;
      background-repeat: no-repeat;
    }
    
  }
}

@mixin link-with-icon($color){
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding:17px 0;
  background-color: transparent;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: $color !important;
  &__image{
    margin-left: 15px;
  }
}


@mixin price-block {
  margin-left: 7%;
    margin-bottom: 10px;
    @media(min-width: 600px){
      margin-bottom: 20px;
    }

    @media(min-width: 768px){
      min-width: 160px;
      margin-bottom: 0;
    }
    &__discount{
      color: $price-discount;
      font-size: 16px;
      line-height: 110.4%;
      text-decoration-line: line-through;
      margin-bottom: 0;

    }
    &__price{
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: $black;
      margin-bottom: 0;
      @media(min-width: 768px){
        font-size: 25px;
        line-height: 30px;
      }
    }
}

@mixin price-with-button-block{
  &__button {
    @include blue-button;
    width: 100%;
    padding: 15px 0;
    @media(min-width: 768px){
      width: 64.78%;
      padding: 20px 0;
      order: -1;
    }    
  }
  &__price-block{
    @include price-block;
  }
    @media(min-width: 768px){
      display: flex;
      flex-wrap: nowrap;
      width: 68.92%;
    }

    @media(min-width: 1920px){
      width: 41.70%;
      margin-top: 0;
    }                                                                            
}

@mixin tick-bullet($inverted: false) {
  position: relative;
  padding-left: 30px;
  &::before{
    display: block;
    position: absolute;
    left: 0px;
    top: 6px;
    content: '';
    width:19.09px;
    height: 14px;
    background: transparent;
    @if $inverted{
      background-image: url('../../images/icons/empty-tick-white.svg') !important;
    } @else {
      background-image: url('../../images/icons/empty-tick-black.svg') !important;
    }
    background-position-y: center;
    background-size: 19.09px 18px;
    background-repeat: no-repeat;
  }
}

@mixin tick-bullet-black() {
  position: relative;
  padding-left: 20px;
  &::before{
    display: block;
    position: absolute;
    left: 0px;
    top: 4px;
    content: '';
    width:12px;
    height: 9px;
    background: transparent;
    background-image: url('../../images/icons/black-tick.svg') !important;
    background-size: 12px 9px;
    background-repeat: no-repeat;
  }

    @media(min-width: 768px){
      padding-left: 33px;  
      position: relative;      
      &::before{
        display: block;
        position: absolute;
        left: 6px;
        top: 2px;
        content: '';
        width:18px;
        height: 14px;
        background: transparent;
        background-size: 18px 14px;
        background-repeat: no-repeat;
    }
  }
}


@mixin empty-bullet($color) {
  position: relative;
  padding-left: 26px;
  &::before{
    display: block;
    position: absolute;
    left: 0px;
    top: 4px;
    content: '';
    border-radius: 50%;
    width:11px;
    height: 11px;
    background: transparent;
    border:2px solid $color;
  }
}

@mixin blue-frame{
  overflow: hidden;
  width:150px;
  height: 135px;
  border-radius: 40px;

  &:hover{
    outline: 1px solid #1C89D1;
    outline-offset: -1px;
  }
  &:active{
    outline: 2px solid rgba(#1C89D1, 0.4);
    outline-offset: -2px;
  }


  @media(min-width: 768px){
    width: 175px;
    height: 158px;
  }
  @media(min-width: 1920px){
    width:150px;
    height: 135px;
  }
}

@mixin background-tiles-small($z-index: -1){
  @media(min-width: 768px){
    &::before{
      content: '';
      position: absolute;
      background: $light-gray;
      width: 80%;
      height: 108px;
      right: 0;
      top: 128px;
      border-radius: 30px 0px 0px 30px;
      z-index: $z-index;
    }
    &::after{
      content: '';
      position: absolute;
      background: $light-gray;
      width: 80%;
      height: 108px;
      left: 0;
      bottom: 120px;
      border-radius: 0px 30px 30px 0px;
      z-index: $z-index;
    }
  }

  @media(min-width: 1200px){
    &::before{
      content: '';
      position: absolute;
      background: $light-gray;
      width: 80%;
      height: 128px;
      right: 0;
      top: 128px;
      border-radius: 30px 0px 0px 30px;
      z-index: $z-index;
    }
    &::after{
      content: '';
      position: absolute;
      background: $light-gray;
      width: 80%;
      height: 128px;
      left: 0;
      bottom: 120px;
      border-radius: 0px 30px 30px 0px;
      z-index: $z-index;
    }
  }

  @media(min-width: 1920px){
    &::before{
      content: '';
      position: absolute;
      background: $light-gray;
      width: 80%;
      height: 146px;
      right: 0;
      top: 160px;
      border-radius: 30px 0px 0px 30px;
      z-index: $z-index;
    }
    &::after{
      content: '';
      position: absolute;
      background: $light-gray;
      width: 80%;
      height: 146px;
      left: 0;
      bottom: 179px;
      border-radius: 0px 30px 30px 0px;
      z-index: $z-index;
    }
  }


}