// colors________________________

$black: #2D2D2D;
$black-2: #000000;
$orange:#FEB62A;
$list-bullets: #0071BC;
$list-active: #0071BC;
$price-discount: #838383;

//----- text-colors--------------

$ui-blue:#0071BC;
$ui-blue-hover: #0267AA;
$ui-blue-active: #004D81;
$lighting-yellow: #FFF48F;


// Gradients

$gr-dark-blue:linear-gradient(97.92deg, #1F3050 0%, #14326B 100%);
$gr-orange: linear-gradient(0deg, #FFFFFF, #FFFFFF),
linear-gradient(91.01deg, #FF981E 0%, #FEB62A 100%);
