// colors

$black: #2D2D2D;
$black-2: #000000;
$list-bullets: #0071BC;
$list-active: #0071BC;
$price-discount: #838383;


// Gradients

$gr-dark-blue:linear-gradient(97.92deg, #1F3050 0%, #14326B 100%);