.service-scheme {
  @include standart-section-spacing;
  @include background-tiles-small;
  overflow-x: hidden;
  &__wrapper {

  }

  &__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $black;
    margin-bottom: 15px;
  }

  &__image {
    box-shadow: $main-shadow;
    border-radius: 20px;
  }
  &__image-wrapper{
    height: fit-content

  }
  &__down-bar{
    display: block;
  }

  &__button {
    @include item-spacing(15px);
  }

  &__button--link {
    @include blue-link-with-icon(23px, 23px, '../../images/icons/info.svg', '../../images/icons/info-hover.svg', '../../images/icons/info-active.svg');
  }

  &__button--bordered {
    @include blue-bordered-button;
  }

  &__button{
  }

  &__button--blue-button {
    @include blue-button;
  }

  @media(min-width: 768px){
    position: relative;
    &__title{
      font-size: 30px;
      line-height: 37px;
      margin-bottom: 30px;
    }
    &__image{
      margin-left: 0;
      margin-bottom: 20px;
      border-radius: 30px;
    }
    &__image-wrapper{
      width: 100%;
    }
    &__down-bar{
      display: flex ;
      flex-direction: row-reverse;
      justify-content: flex-start;
    }
    &__button{
      margin-bottom: 0;
      @include item-spacing-gor-reverse(30px);
      &--link{
        width: 65%;
      }
    }
  }

  @media(min-width: 1920px){
    &__title{
      font-size: 36px;
      line-height: 44px;
      margin-bottom: 40px;
    }
    &__image{
      margin-bottom: 40px;
    }
    &__down-bar{
      max-width: 69.96%;
    }
    &__button{
      @include item-spacing-gor-reverse(40px);
    }
    
  }
}

