.side-nav {
  display: none;
  z-index: 100;
  mix-blend-mode: difference;
  filter: invert(1);
  @media(min-width: 1920px){
    display: block;
  }
  position: fixed;
  top: 188px;
  left: 30px;
  &__nav {
    position: relative;
    border-radius: 20px;
    border-right: 1px solid #1C89D1;
    padding: 20px;
    }



  &__list {
    padding: 0;
    margin: 0;
    list-style-type: none;

    &__item{
      margin-bottom: 20px;
      margin-left: auto;
      width: fit-content;
      &-link{
        color:inherit;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        text-decoration: none;
        color: #000000;
        &--active{
          color: $list-active;
          border-bottom: 1px solid $list-active;
          &:hover{
            border-bottom: 1px solid #FF6871;
          }
        }
      }
      &:last-child{
        margin-bottom: 0;
      }

      &--active{
        color: $list-active;
        border-bottom: 1px solid $list-active;
        &:hover{
          border-bottom: 1px solid #FF6871;
        }
        .side-nav__list__item-link{
          &--active{
            color: $list-active;
            border-bottom: 1px solid $list-active;
          }
          &:hover{
            color: $list-active;
          }
          color: $list-active;
        }

      }
    } 

    &__item--message{
      .side-nav__list__item-link{
        border: 1px solid $list-active;
        color: $list-active;
        padding: 10px;
        border-radius: 5px;
        &:hover {
          color: #FF6871;
        }
        &:active {
          color: $list-active;
        }
        &__image{

        }
      }
    }
  }
}



