.promo {
  margin-top: 20px;
  margin-bottom: 75px;
  font-weight: 400;
  font-size: 15px;
  line-height: 130%;
  @media(min-width: 768px){
    margin-bottom: 100px;
  }
  @media(min-width: 1920px){
    margin-bottom: 120px;
    margin-top: 0px; 
  }
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__image {
    margin: 20px 0;
    width: 100%;
    @media(min-width: 768px){
      width: 44.35%;
      margin: 0;
      margin-top: -40px;      
    }
    // @media(min-width: 1000px){
    //   margin-top: -70px;
    //   margin-bottom: 50px;      
    // }
    @media(min-width: 1920px){
      margin-bottom: 0;
    }
    @media(min-width: 1920px){
      margin-left: 103px;
    }
  }

  &__text-wrapper{    
    margin-bottom: 24px;
    @media(min-width: 768px){
      width: 55%;
      order: -1;     
      margin-bottom: 50px;
    }
    @media(min-width: 1000px){
      margin-bottom: auto;
    }
    @media(min-width: 1920px){
      width: 40.34%;
      margin-bottom: auto;
      margin-top: 20px;
      
    }
    @media(min-width: 2150px){
      margin-top: 40px;
    }
  }

  &__title {
    color: $black-2;
    font-weight: 500;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 15px;
    line-height: 130%;
    @media(min-width: 768px){
      margin-top: 10px;
      font-size: 16px;
    }
    @media(min-width: 1000px){
      margin-bottom: 30px;
    }
    @media(min-width: 1228px){
      margin-bottom: 40px;
    }

    @media(min-width: 1228px){
      font-size: 17px;
    }
    @media(min-width: 1600px) and (max-width: 1920px){
      font-size: 19px;
    }

    @media(min-width: 1920px){
      font-size: 18px;
      margin-bottom: 20px;
    }
    @media(min-width: 2260px){
      font-size: 20px;
      margin-bottom: 30px;;
    }
  }

  &__advantages-list {
    color: $black;
    list-style-type: none;
    padding: 0;

    @media(min-width: 600px){
      font-size: 16px;
    }

    @media(min-width: 1228px) and (max-width: 1920px){
      font-size: 17px;
    }

    @media(min-width: 1000px){
      margin-bottom: 4%;
    }

    @media(min-width: 1228px) and (max-width: 1920px){
      font-size: 19px;
    }

    &__item {
      padding-left: 17px;
      margin-bottom: 15px;
      position: relative;

      &:before{
        display: block;
        position: absolute;
        left: 0px;
        top: 6px;
        content: '';
        width:7px;
        height: 7px;
        background: $list-bullets;
        border-radius: 50%;
      }
      &:last-child{
        margin-bottom: none;
      }
      @media(min-width: 1000px){
        margin-bottom: 3%;
      }
      @media(min-width: 1228px) and (max-width: 1920px){
        margin-bottom: 6%;
      }

      @media(min-width: 1600px) and (max-width: 1920px){
        margin-bottom: 8%;
      }
      @media(min-width: 1920px){
        margin-bottom: 15px;
        font-size: 18px;
      }
      @media(min-width: 2260px){
        font-size: 20px;
        margin-bottom: 4%;
      }
    }
  }
  &__down-bar{
    width: 100%;
    @media(min-width: 768px){
      display: flex;
      width: 68.92%;
      margin-top: -84px;
      margin-top: -30px;
    }
    // @media(min-width: 1000px){
    //   margin-top: -7%;
    // }
    @media(min-width: 1920px){
      width: 41.70%;
    }
    @media(min-width: 2150px){
      margin-top: -15%;
}                                                                             
  }
  &__price-block {
    margin-left: 7%;
    margin-bottom: 10px;
    @media(min-width: 600px){
      margin-bottom: 20px;
    }

    @media(min-width: 768px){
      min-width: 160px;
      margin-bottom: 0;
    }
    &__discount{
      color: $price-discount;
      font-size: 16px;
      line-height: 110.4%;
      text-decoration-line: line-through;
      margin-bottom: 0;

    }
    &__price{
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      color: $black;
      margin-bottom: 0;
      @media(min-width: 768px){
        font-size: 25px;
        line-height: 30px;
      }
    }
  }

  .blue-button {
    padding: 15px 0;
    @media(min-width: 768px){
      width: 64.78%;
      padding: 20px 0;
      order: -1;
    }
    
  }
}

